voila 
azure
azure-identity
azure-mgmt-storage
azure-storage-blob
azure.mgmt.costmanagement
azure.mgmt.resource
azure.mgmt.storage
azure.mgmt.authorization
azure.mgmt.authorization.models
azure.mgmt.costmanagement.models
azure.core.exceptions
pandas
pathlib
ipywidgets
IPython.display
IPython.core.interactiveshell
dotenv
nbformat
